<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div th:replace="~{fragments/success-error-alert}"></div>

		<div class="col-md-2 mb-4">
			<label class="form-label">Account:</label>
			<input type="text" placeholder="Account number" name="accountNumber">
		</div>

	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<div th:replace="~{fragments/footer}"></div>