<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div th:replace="~{fragments/success-error-alert}"></div>

		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title">
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1">
						<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
						<input type="text" data-kt-datatable-table-filter="search"
							class="form-control form-control-solid w-250px ps-12" placeholder="Search Branches" />
					</div>
					<!--end::Search-->
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
						<!--begin::Add customer-->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#kt_modal_new_branch">
							<i class="ki-duotone ki-message-add fs-1">
								<span class="path1"></span>
								<span class="path2"></span>
								<span class="path3"></span>
							</i>
							Add Branch
						</button>
						<!--end::Add customer-->
					</div>
					<!--end::Toolbar-->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body pt-0">
				<!--begin::Table-->
				<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_datatable_table">
					<thead>
						<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
							<th class="min-w-50px">Branch ID</th>
							<th class="min-w-70px">Branch Name</th>
							<th class="min-w-90px">Branch Address</th>
							<th class="min-w-50px">Status</th>
							<th class="min-w-70px">Created Date</th>
						</tr>
					</thead>
					<tbody class="fw-semibold text-gray-600">
						<tr th:each="branch: ${branches}">
							<td th:text="${branch.branchId}">1202</td>
							<td>
								<a th:href="@{/view360/branches/accounts(code=${branch.branchId})}" th:text="${branch.branchName}" class="text-gray-800 text-hover-primary mb-1">HQ Moroni</a>
							</td>
							<td th:text="${branch.branchAddress}">Moroni, Place de la France</td>
							<td><span th:text="${branch.status}" th:class="${'badge badge-sm badge-light-' + @appSpEL.statusColor(branch.status) + ' fw-bold px-4 py-3'}">ACTIVE</span></td>
							<td th:text="${#temporals.format(branch.createdAt, 'yyyy-MM-dd HH:mm')}">2024-12-25 08:55</td>
						</tr>
					</tbody>
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<!--begin::Modals-->
<div class="modal fade" id="kt_modal_new_branch" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header">
				<!--begin::Modal title-->
				<h2>New Branch</h2>
				<!--end::Modal title-->

				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														   viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
								  transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
								  fill="currentColor" />
						</svg></span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
			</div>
			<!--end::Modal header-->

			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 my-7">
				<!--begin::Form-->
				<form class="form" th:action="@{/view360/branches}" method="post" th:object="${branchDto}">

					<div class="row">
						<div class="col-md-4">
							<!--begin::Input group-->
							<div class="mb-4 fv-row">
								<label class="required form-label">Branch Name</label>
								<input type="text" th:field="*{branchName}" class="form-control mb-2" th:classappend="${#fields.hasErrors('branchName')} ? 'is-invalid' : ''" placeholder="Branch name" />
								<div class="invalid-feedback" th:errors="*{branchName}"></div>
							</div>
							<!--end::Input group-->
						</div>
						<div class="col-md-8">
							<!--begin::Input group-->
							<div class="mb-4 fv-row">
								<label class="required form-label">Branch Address</label>
								<input type="text" th:field="*{branchAddress}" class="form-control mb-2" th:classappend="${#fields.hasErrors('branchAddress')} ? 'is-invalid' : ''" placeholder="Branch Address" />
								<div class="invalid-feedback" th:errors="*{branchAddress}"></div>
							</div>
							<!--end::Input group-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<!--begin::Input group-->
							<div class="mb-4 fv-row">
								<label class="form-label">Asset vault (KMF)</label>
								<input type="number" name="assetKMF" class="form-control mb-2" step=".01" placeholder="0.00" />
							</div>
							<!--end::Input group-->
						</div>
						<div class="col-md-4">
							<!--begin::Input group-->
							<div class="mb-4 fv-row">
								<label class="form-label">Asset vault (EUR)</label>
								<input type="number" name="assetEUR" class="form-control mb-2" step=".01" placeholder="0.00" />
							</div>
							<!--end::Input group-->
						</div>
						<div class="col-md-4">
							<!--begin::Input group-->
							<div class="mb-4 fv-row">
								<label class="form-label">Asset vault (USD)</label>
								<input type="number" name="assetUSD" class="form-control mb-2" step=".01" placeholder="0.00" />
							</div>
							<!--end::Input group-->
						</div>
					</div>

					<!--begin::Actions-->
					<div class="text-center pt-15">
						<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">
							Discard
						</button>

						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
					<!--end::Actions-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modals-->

<div th:replace="~{fragments/footer}"></div>