<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title">
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1">
						<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
						<input type="text" data-kt-datatable-table-filter="search"
							class="form-control form-control-solid w-250px ps-12" placeholder="Search Cheques" />
					</div>
					<!--end::Search-->
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
						<!--begin::Add customer-->
						<a th:href="@{/cheques/requests}" class="btn btn-primary">
							<i class="ki-duotone ki-book-open fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
							Send Request
						</a>
						<!--end::Add customer-->
					</div>
					<!--end::Toolbar-->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body pt-0">
				<!--begin::Table-->
				<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_datatable_table">
					<thead>
						<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
							<th class="min-w-70px">Cheque ID</th>
							<th class="min-w-100px">Cheque Number</th>
							<th class="min-w-100px">Customer</th>
							<th class="min-w-100px">Account</th>
							<th class="min-w-70px">Status</th>
							<th class="min-w-100px">Date Effective</th>
						</tr>
					</thead>
					<tbody class="fw-semibold text-gray-600">
						<tr th:each="cheque: ${cheques}">
							<td>
								<a th:text="${cheque.chequeId}" th:href="@{/cheques/{id}(id=${cheque.chequeId})}"
									class="text-hover-primary text-gray-600 mb-1">1202</a>
							</td>
							<td>
								<a th:text="${cheque.chequeNumber}" th:href="@{/cheques/{id}(id=${cheque.chequeId})}"
									class="text-hover-primary text-gray-600 mb-1">0145782</a>
							</td>
							<td th:text="${cheque.trunk.customer.identityNumber}">NBE234557</td>
							<td th:text="${cheque.trunk.account.accountNumber}">0071001997</td>
							<td><span th:text="${cheque.status}"
									th:class="${'badge badge-sm badge-light-' + @appSpEL.statusColor(cheque.status) + ' fw-bold px-4 py-3'}">ACTIVE</span>
							</td>
							<td th:text="${#temporals.format(cheque.createdAt, 'yyyy-MM-dd')}">2024-12-25</td>
						</tr>
					</tbody>
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<div th:replace="~{fragments/footer}"></div>