<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

        <div th:replace="~{fragments/success-error-alert}"></div>

        <!--begin::Invoice 2 main-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-20">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                        <!--begin::Invoice 2 content-->
                        <div class="mt-n1">

                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Label-->
                                <div class="fw-bold fs-3 text-gray-800 mb-8">Batch #<span
                                        th:text="${cheque.chequeId}">34782</span>
                                </div>
                                <!--end::Label-->

                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Issue
                                            Date:</div>
                                        <!--end::Label-->

                                        <!--end::Col-->
                                        <div class="fw-bold fs-6 text-gray-800"
                                            th:text="${#temporals.format(cheque.createdAt, 'yyyy-MM-dd HH:mm')}">
                                            12 Apr 2021
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->

                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Update
                                            Date:</div>
                                        <!--end::Label-->

                                        <!--end::Info-->
                                        <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2"
                                                th:text="${#temporals.format(cheque.updatedAt, 'yyyy-MM-dd HH:mm')}">02
                                                May 2021</span>

                                            <span class="fs-7 text-info d-flex align-items-center">
                                                <span class="bullet bullet-dot bg-info me-2"></span>

                                                <span th:text="${cheque.failureReason}">Rejected</span>
                                            </span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->

                                <!--begin::Row-->
                                <div class="row g-5 mb-11">

                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Serial N°:
                                        </div>
                                        <!--end::Label-->

                                        <!--end::Text-->
                                        <div class="fw-bold fs-6 text-gray-800">
                                            Serie <span th:text="${cheque.serial.requestId}">1</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->

                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">
                                            Cheque Number:</div>
                                        <!--end::Label-->

                                        <!--end::Text-->
                                        <div class="fw-bold fs-6 text-gray-800" th:text="${cheque.chequeNumber}">
                                            12547891
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->

                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">
                                            Customer:</div>
                                        <!--end::Label-->

                                        <!--end::Text-->
                                        <div class="fw-bold fs-6 text-gray-800"
                                            th:text="${cheque.trunk.customer.identityNumber}">NBE4576</div>
                                        <!--end::Text-->

                                        <!--end::Description-->
                                        <div class="fw-semibold fs-7 text-gray-600"
                                            th:text="${cheque.trunk.customer.firstName + ' ' + cheque.trunk.customer.lastName}">
                                            Sarah
                                            Hunt
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->

                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Status:
                                        </div>
                                        <!--end::Label-->

                                        <!--end::Text-->
                                        <span th:text="${cheque.status}"
                                            th:class="${'badge badge-light-' + @appSpEL.statusColor(cheque.status) + ' badge-sm px-4 py-3'}">APPROVED</span>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->

                                <!--begin::Row-->
                                <div class="row g-5 mb-12">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Issue
                                            For:</div>
                                        <!--end::Label-->

                                        <!--end::Text-->
                                        <div th:text="${cheque.trunk.account.accountNumber}"
                                            class="fw-bold fs-6 text-gray-800">
                                            0071001997
                                        </div>
                                        <!--end::Text-->

                                        <!--end::Description-->
                                        <div class="fw-semibold fs-7 text-gray-600">
                                            <span th:text="${cheque.trunk.account.accountType}">BUSINESS</span> Account
                                            <br />
                                            <span th:text="${cheque.trunk.account.accountName}">John
                                                Doe</span>
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->

                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-semibold fs-7 text-gray-600 mb-1">Issued
                                            At:</div>
                                        <!--end::Label-->

                                        <!--end::Text-->
										<div th:text="${cheque.branch.branchName}" class="fw-bold fs-6 text-gray-800">
											HQ</div>
										<!--end::Text-->

										<!--end::Description-->
										<div class="fw-semibold fs-7 text-gray-600">
											<span th:text="${cheque.branch.branchAddress}">Moroni, Place de
												France</span>
										</div>
										<!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Invoice 2 content-->
                    </div>
                    <!--end::Content-->

                    <!--begin::Sidebar-->
                    <div class="m-0">
                        <!--begin::Invoice 2 sidebar-->
                        <div
                            class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">


                            <!--begin::Title-->
                            <h3 class="mb-2 fw-bolder">SUMMARY</h3>
                            <p class="fw-semibold text-gray-600 mb-7">key details of cheque</p>
                            <!--end::Title-->

                            <div class="separator separator-dashed mb-7"></div>

                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-800 fs-6 mb-1">Basic details:
                                </div>

                                <div class="fw-bold text-gray-600 fs-7">
                                    <p class="mb-1">Batch N° : #<span th:text="${cheque.chequeId}">34782</span></p>
                                    <p class="mb-1">Type : <span
                                            th:text="${cheque.trunk.account.accountType}">BUSINESS</span>
                                    </p>
                                    <p class="mb-0">Status : <span th:text="${cheque.status}"
                                            th:class="${'text-' + @appSpEL.statusColor(cheque.status)}">Approved</span>
                                    </p>
                                </div>
                            </div>
                            <!--end::Item-->

                            <!--begin::Item-->
                            <div class="mb-10">
                                <div class="fw-bold text-gray-800 fs-6 mb-1">Account:</div>

                                <div class="fw-bold text-gray-600 fs-7">
                                    <p class="mb-1">Number : <span
                                            th:text="${cheque.trunk.account.accountNumber}">0071001997</span>
                                    </p>
                                    <p class="mb-0">Name : <span th:text="${cheque.trunk.account.accountName}">John
                                            Doe</span></p>
                                </div>
                            </div>
                            <!--end::Item-->

                            <div class="separator separator-dashed mb-7"></div>

                            <!--begin::Item-->
                            <div class="mb-10">
                                <div class="fw-bold text-gray-800 fs-6 mb-1">Operators:</div>

                                <div class="fw-bold text-gray-600 fs-7">
                                    <p class="mb-1">Initiated By : <span th:text="${cheque.initiatedBy}">Sarah</span></p>
									<p class="mb-0">Updated By : <span th:text="${cheque.updatedBy}">John</span></p>
                                </div>
                            </div>
                            <!--end::Item-->

                            <div th:unless="${cheque.status} == 'USED'">
                                <button th:unless="${cheque.status} != 'ACTIVE'" type="button"
                                    class="btn btn-sm btn-danger me-2" data-bs-toggle="modal"
                                    data-bs-target="#deactivate_account">
                                    Deactivate
                                </button>
                                <button th:unless="${cheque.status} == 'ACTIVE'" type="button" data-bs-toggle="modal"
                                    data-bs-target="#activate_account" class="btn btn-sm btn-primary">
                                    Activate
                                </button>
                            </div>

                        </div>
                        <!--end::Invoice 2 sidebar-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Invoice 2 main-->
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->

<!--begin::Modals-->
<div
    th:replace="~{fragments/confirmDialog(modalId='deactivate_account', modalTitle='Deactivate Cheque', confirmReason=1, actionUrl=${'/cheques/deactivate/' + cheque.chequeId})}">
    ...</div>

<div
    th:replace="~{fragments/confirmDialog(modalId='activate_account', modalTitle='Activate Cheque', actionUrl=${'/cheques/activate/' + cheque.chequeId})}">
    ...</div>

<!--end::Modals-->

<div th:replace="~{fragments/footer}"></div>