<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div th:replace="~{fragments/success-error-alert}"></div>

		<form method="post" th:action="@{/customers/add}" th:object="${customerDto}" enctype="multipart/form-data"
			class="form d-flex flex-column flex-lg-row">
			<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
				<!--begin::Profile Photo settings-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Card title-->
						<div class="card-title">
							<h2>Avatar</h2>
						</div>
						<!--end::Card title-->
					</div>
					<!--end::Card header-->

					<!--begin::Card body-->
					<div class="card-body text-center pt-0">
						<!--begin::Image input-->
						<!--begin::Image input placeholder-->
						<style>
							.image-input-placeholder {
								background-image: url('/assets/svg/blank-image.svg');
							}

							[data-bs-theme="dark"] .image-input-placeholder {
								background-image: url('/assets/svg/blank-image-dark.svg');
							}
						</style>
						<!--end::Image input placeholder-->

						<div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
							data-kt-image-input="true">
							<!--begin::Preview existing avatar-->
							<div class="image-input-wrapper w-150px h-150px"></div>
							<!--end::Preview existing avatar-->

							<!--begin::Label-->
							<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
								<i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span
										class="path2"></span></i>
								<!--begin::Inputs-->
								<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
								<input type="hidden" name="avatar_remove" />
								<!--end::Inputs-->
							</label>
							<!--end::Label-->

							<!--begin::Cancel-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
								<i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
										class="path2"></span></i>
							</span>
							<!--end::Cancel-->

							<!--begin::Remove-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
								<i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
										class="path2"></span></i>
							</span>
							<!--end::Remove-->
						</div>
						<!--end::Image input-->

						<!--begin::Description-->
						<div class="text-muted fs-7">Set the avatar photo. Only
							*.png, *.jpg and *.jpeg image files are accepted</div>
						<!--end::Description-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Profile Photo settings-->

				<!--begin::ID Photo settings-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Card title-->
						<div class="card-title">
							<h2>Signature Photo</h2>
						</div>
						<!--end::Card title-->
					</div>
					<!--end::Card header-->

					<!--begin::Card body-->
					<div class="card-body text-center pt-0">
						<!--begin::Image input-->
						<!--begin::Image input placeholder-->
						<style>
							.image-input-placeholder {
								background-image: url('/assets/svg/blank-image.svg');
							}

							[data-bs-theme="dark"] .image-input-placeholder {
								background-image: url('/assets/svg/blank-image-dark.svg');
							}
						</style>
						<!--end::Image input placeholder-->

						<div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
							data-kt-image-input="true">
							<!--begin::Preview existing avatar-->
							<div class="image-input-wrapper w-150px h-150px"></div>
							<!--end::Preview existing avatar-->

							<!--begin::Label-->
							<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change ID Photo">
								<i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span
										class="path2"></span></i>
								<!--begin::Inputs-->
								<input type="file" name="signature" accept=".png, .jpg, .jpeg" />
								<input type="hidden" name="signature_remove" />
								<!--end::Inputs-->
							</label>
							<!--end::Label-->

							<!--begin::Cancel-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel ID Photo">
								<i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
										class="path2"></span></i>
							</span>
							<!--end::Cancel-->

							<!--begin::Remove-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
								data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove ID Photo">
								<i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
										class="path2"></span></i>
							</span>
							<!--end::Remove-->
						</div>
						<!--end::Image input-->

						<!--begin::Description-->
						<div class="text-muted fs-7">Set the signature photo. Only
							*.png, *.jpg and *.jpeg image files are accepted</div>
						<!--end::Description-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::ID Photo settings-->
			</div>
			<!--end::Aside column-->

			<!--begin::Main column-->
			<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
				<!--begin:::Tabs-->
				<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
					<!--begin:::Tab item-->
					<li class="nav-item">
						<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab"
							href="#kt_ecommerce_add_product_general">General</a>
					</li>
					<!--end:::Tab item-->

					<!--begin:::Tab item-->
					<li class="nav-item">
						<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab"
							href="#kt_ecommerce_add_product_advanced">Advanced</a>
					</li>
					<!--end:::Tab item-->
				</ul>
				<!--end:::Tabs-->
				<!--begin::Tab content-->
				<div class="tab-content">
					<!--begin::Tab pane-->
					<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
						<div class="d-flex flex-column gap-7 gap-lg-10">

							<!--begin::General options-->
							<div class="card card-flush py-4">
								<!--begin::Card header-->
								<div class="card-header">
									<div class="card-title">
										<h2>General</h2>
									</div>
								</div>
								<!--end::Card header-->

								<!--begin::Card body-->
								<div class="card-body pt-0">

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">First Name</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="text" th:field="*{firstName}" class="form-control mb-2"
											th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
											placeholder="First name" />
										<div class="invalid-feedback" th:errors="*{firstName}"></div>
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Last Name</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="text" th:field="*{lastName}" class="form-control mb-2"
											th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
											placeholder="Last name" />
										<div class="invalid-feedback" th:errors="*{lastName}"></div>
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="row">

										<div class="mb-7 fv-row col-md-3">
											<!--begin::Select store template-->
											<label for="gender" class="form-label">Gender</label>
											<!--end::Select store template-->

											<!--begin::Select2-->
											<select th:field="*{gender}" class="form-select mb-3"
												th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' : ''"
												data-control="select2" data-hide-search="true"
												data-placeholder="Select an option">
												<option value=""></option>
												<option value="MALE">Male</option>
												<option value="FEMALE">Female</option>
											</select>
											<div class="invalid-feedback" th:errors="*{gender}"></div>
											<!--end::Select2-->
										</div>

										<!--begin::Input group-->
										<div class="mb-7 fv-row col-md-9">
											<!--begin::Label-->
											<label class="required form-label">Nationality</label>
											<!--end::Label-->

											<!--begin::Input-->
											<select th:field="*{nationality}" class="form-select mb-3"
												data-control="select2"
												th:classappend="${#fields.hasErrors('nationality')} ? 'is-invalid' : ''"
												data-placeholder="Nationality" data-allow-clear="true">
												<option value=""></option>
												<option th:each="country: ${@appSpEL.countries}" th:text="${country}"
													th:value="${country}">Comoros</option>
											</select>
											<div class="invalid-feedback" th:errors="*{nationality}"></div>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="row">
										<div class="mb-7 fv-row col-md-3">
											<!--begin::Select store template-->
											<label for="identityType" class="form-label">Identity type</label>
											<!--end::Select store template-->

											<!--begin::Select2-->
											<select th:field="*{identityType}" class="form-select mb-2"
												data-control="select2" data-hide-search="true"
												data-placeholder="Select an option">
												<option value=""></option>
												<option value="CARD" selected>Card</option>
												<option value="PASSPORT">Passport</option>
											</select>
											<!--end::Select2-->
										</div>
										<div class="mb-7 fv-row col-md-9">
											<!--begin::Label-->
											<label class="required form-label">Identity number</label>
											<!--end::Label-->

											<!--begin::Input-->
											<input type="text" th:field="*{IdentityNumber}" class="form-control mb-2"
												placeholder="Identity Number" />
											<!--end::Input-->
										</div>
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="row">

										<!--begin::Input group-->
										<div class="fv-row col-md-3">
											<!--begin::Label-->
											<label class="required form-label">Identity expires</label>
											<!--end::Label-->

											<!--begin::Editor-->
											<input th:field="*{identityExpiration}" placeholder="Select a date"
												class="form-control kt_flatpickr mb-2" value="" />
											<!--end::Editor-->
										</div>
										<!--end::Input group-->

										<!--begin::Input group-->
										<div class="mb-7 fv-row col-md-9">
											<!--begin::Label-->
											<label class="required form-label">Identity issue</label>
											<!--end::Label-->

											<!--begin::Input-->
											<input type="text" th:field="*{identityIssue}" class="form-control mb-2"
												placeholder="Identity Issue" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="row">

										<!--begin::Input group-->
										<div class="fv-row col-md-3">
											<!--begin::Label-->
											<label class="required form-label">Birth date</label>
											<!--end::Label-->

											<!--begin::Editor-->
											<input th:field="*{birthDate}" placeholder="Select a date"
												class="form-control kt_flatpickr mb-2" value="" />
											<!--end::Editor-->
										</div>
										<!--end::Input group-->

										<!--begin::Input group-->
										<div class="mb-7 fv-row col-md-9">
											<!--begin::Label-->
											<label class="required form-label">Birth place</label>
											<!--end::Label-->

											<!--begin::Input-->
											<input type="text" th:field="*{birthPlace}" class="form-control mb-2"
												placeholder="Birth Place" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Profession</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="text" th:field="*{profession}" class="form-control mb-2"
											placeholder="Profession" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->

								</div>
								<!--end::Card header-->
							</div>
							<!--end::General options-->
							<!--begin::Media-->
							<div class="card card-flush py-4">
								<!--begin::Card header-->
								<div class="card-header">
									<div class="card-title">
										<h2>Address / Contact</h2>
									</div>
								</div>
								<!--end::Card header-->

								<!--begin::Card body-->
								<div class="card-body pt-0">

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Email</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="email" th:field="*{email}" class="form-control mb-2"
											placeholder="Email address" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Phone number</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="tel" th:field="*{phone}" class="form-control mb-2"
											placeholder="Phone number" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="row">
										<!--begin::Input group-->
										<div class="mb-7 fv-row col-md-8">
											<!--begin::Label-->
											<label class="required form-label">Address</label>
											<!--end::Label-->

											<!--begin::Input-->
											<input type="text" th:field="*{address}" class="form-control mb-2"
												placeholder="Address" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->

										<!--begin::Input group-->
										<div class="mb-7 fv-row col-md-4">
											<!--begin::Label-->
											<label class="required form-label">Poste code</label>
											<!--end::Label-->

											<!--begin::Input-->
											<input type="number" th:field="*{postCode}" class="form-control mb-2"
												placeholder="Poste code" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Residence</label>
										<!--end::Label-->

										<!--begin::Input-->
										<!--begin::Input-->
										<select th:field="*{residence}" class="form-select mb-3" data-control="select2"
											th:classappend="${#fields.hasErrors('residence')} ? 'is-invalid' : ''"
											data-placeholder="Residence" data-allow-clear="true">
											<option value=""></option>
											<option th:each="country: ${@appSpEL.countries}" th:text="${country}"
												th:value="${country}">Comoros</option>
										</select>
										<div class="invalid-feedback" th:errors="*{residence}"></div>
										<!--end::Input-->
										<!--end::Input-->
									</div>
									<!--end::Input group-->

								</div>
								<!--end::Card body-->
							</div>
							<!--end::Media-->

						</div>
					</div>
					<!--end::Tab pane-->

					<!--begin::Tab pane-->
					<div class="tab-pane fade" id="kt_ecommerce_add_product_advanced" role="tab-panel">
						<div class="d-flex flex-column gap-7 gap-lg-10">

							<!--begin::Account-->
							<div class="card card-flush py-4">
								<!--begin::Card header-->
								<div class="card-header">
									<div class="card-title">
										<h2>Account</h2>
									</div>
								</div>
								<!--end::Card header-->

								<!--begin::Card body-->
								<div class="card-body pt-0">
									<!--begin::Input group-->
									<div class="mb-10 fv-row">
										<!--begin::Label-->
										<label class="form-label">Account name</label>
										<!--end::Label-->

										<!--begin::Input-->
										<input type="text" name="accountName"
											class="form-control form-control-solid mb-2" placeholder="John Doe" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-10 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Account type</label>
										<!--end::Label-->

										<!--begin:Options-->
										<div class="fv-row">
											<!--begin:Option-->
											<label class="d-flex flex-stack mb-5 cursor-pointer">
												<!--begin:Label-->
												<span class="d-flex align-items-center me-2">
													<!--begin:Icon-->
													<span class="symbol symbol-50px me-6">
														<span class="symbol-label bg-light-primary">
															<!--begin::Svg Icon | path: icons/duotone/Home/Globe.svg-->
															<span class="svg-icon svg-icon-1 svg-icon-primary">
																<svg xmlns="http://www.w3.org/2000/svg" width="24px"
																	height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none"
																		fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path
																			d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z"
																			fill="currentColor" fill-rule="nonzero" />
																		<circle fill="currentColor" opacity="0.3"
																			cx="12" cy="10" r="6" />
																	</g>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</span>
													</span>
													<!--end:Icon-->
													<!--begin:Info-->
													<span class="d-flex flex-column">
														<span class="fw-bolder fs-6">Saving</span>
														<span class="fs-7 text-muted">Creating a clear
															text structure is just one SEO</span>
													</span>
													<!--end:Info-->
												</span>
												<!--end:Label-->
												<!--begin:Input-->
												<span
													class="form-check form-check-custom form-check-solid form-check-lg">
													<input class="form-check-input" type="radio" name="accountType"
														value="SAVING" checked />
												</span>
												<!--end:Input-->
											</label>
											<!--end::Option-->

											<div class="separator separator-dashed mb-5"></div>

											<!--begin:Option-->
											<label class="d-flex flex-stack cursor-pointer">
												<!--begin:Label-->
												<span class="d-flex align-items-center me-2">
													<!--begin:Icon-->
													<span class="symbol symbol-50px me-6">
														<span class="symbol-label bg-light-success">
															<!--begin::Svg Icon | path: icons/duotone/Devices/Watch1.svg-->
															<span class="svg-icon svg-icon-1 svg-icon-success">
																<svg xmlns="http://www.w3.org/2000/svg" width="24px"
																	height="24px" viewBox="0 0 24 24" version="1.1">
																	<path
																		d="M9,8 C8.44771525,8 8,8.44771525 8,9 L8,15 C8,15.5522847 8.44771525,16 9,16 L15,16 C15.5522847,16 16,15.5522847 16,15 L16,9 C16,8.44771525 15.5522847,8 15,8 L9,8 Z M9,6 L15,6 C16.6568542,6 18,7.34314575 18,9 L18,15 C18,16.6568542 16.6568542,18 15,18 L9,18 C7.34314575,18 6,16.6568542 6,15 L6,9 C6,7.34314575 7.34314575,6 9,6 Z"
																		fill="currentColor" fill-rule="nonzero" />
																	<path
																		d="M9,8 C8.44771525,8 8,8.44771525 8,9 L8,15 C8,15.5522847 8.44771525,16 9,16 L15,16 C15.5522847,16 16,15.5522847 16,15 L16,9 C16,8.44771525 15.5522847,8 15,8 L9,8 Z"
																		fill="currentColor" opacity="0.3" />
																	<path
																		d="M9,18 L15,18 L15,20.5 C15,21.3284271 14.3284271,22 13.5,22 L10.5,22 C9.67157288,22 9,21.3284271 9,20.5 L9,18 Z"
																		fill="currentColor" opacity="0.3" />
																	<path
																		d="M10.5,2 L13.5,2 C14.3284271,2 15,2.67157288 15,3.5 L15,6 L9,6 L9,3.5 C9,2.67157288 9.67157288,2 10.5,2 Z"
																		fill="currentColor" opacity="0.3" />
																</svg>
															</span>
															<!--end::Svg Icon-->
														</span>
													</span>
													<!--end:Icon-->
													<!--begin:Info-->
													<span class="d-flex flex-column">
														<span class="fw-bolder fs-6">Business</span>
														<span class="fs-7 text-muted">Creating a clear
															text structure copywriting</span>
													</span>
													<!--end:Info-->
												</span>
												<!--end:Label-->
												<!--begin:Input-->
												<span
													class="form-check form-check-custom form-check-solid form-check-lg">
													<input class="form-check-input" type="radio" name="accountType"
														value="BUSINESS" />
												</span>
												<!--end:Input-->
											</label>
											<!--end::Option-->
										</div>
										<!--end:Options-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-10 fv-row">
										<!--begin::Label-->
										<label class="form-label required">Account Profile</label>
										<!--end::Label-->

										<!--begin::Input-->
										<select name="accountProfile" class="form-select mb-3" data-control="select2"
											data-hide-search="true">
											<option value="PERSONAL">Personal</option>
											<option value="ASSOCIATIVE">Association</option>
										</select>
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Card header-->
							</div>
							<!--end::Account-->

							<!--begin::Application request-->
							<div class="card card-flush py-4">
								<!--begin::Card header-->
								<div class="card-header">
									<div class="card-title">
										<h2>Documents</h2>
									</div>
								</div>
								<!--end::Card header-->

								<div class="card-body pt-0">
									<div class="fv-row">
										<!--begin::Dropzone-->
										<div class="dropzone mb-2" id="kt_dropzonejs_example_1">
											<!--begin::Message-->
											<div class="dz-message needsclick">
												<i class="ki-duotone ki-file-up fs-3x text-primary"><span
														class="path1"></span><span class="path2"></span></i>

												<!--begin::Info-->
												<div class="ms-4">
													<h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or
														click to upload.</h3>
													<span class="fs-7 fw-semibold text-gray-500">Upload up to 10
														files</span>
												</div>
												<!--end::Info-->
											</div>
										</div>
										<!--end::Dropzone-->
										<div class="text-muted fs-7">Upload here all about customer documents like
											contract and others.</div>
									</div>
								</div>
							</div>
							<!--end::Application request-->

						</div>
					</div>
					<!--end::Tab pane-->

				</div>
				<!--end::Tab content-->

				<div class="d-flex justify-content-end">
					<!--begin::Button-->
					<a href="index.html" class="btn btn-light me-5">
						Cancel
					</a>
					<!--end::Button-->

					<!--begin::Button-->
					<button type="submit" id="kt_submit_button" class="btn btn-primary">
						<span class="indicator-label">
							Save Changes
						</span>
						<span class="indicator-progress">
							Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>
					</button>
					<!--end::Button-->
				</div>
			</div>
			<!--end::Main column-->
		</form>
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<div th:replace="~{fragments/footer}"></div>