<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div th:replace="~{fragments/success-error-alert}"></div>

		<!--begin::Invoice 2 main-->
		<div class="card">
			<!--begin::Body-->
			<div class="card-body p-lg-20">
				<!--begin::Layout-->
				<div class="d-flex flex-column flex-xl-row">
					<!--begin::Content-->
					<div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
						<!--begin::Invoice 2 content-->
						<div class="mt-n1">

							<!--begin::Wrapper-->
							<div class="m-0">
								<!--begin::Label-->
								<div class="fw-bold fs-3 text-gray-800 mb-8">Batch #<span
										th:text="${loan.loanId}">34782</span>
								</div>
								<!--end::Label-->

								<!--begin::Row-->
								<div class="row g-5 mb-11">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Issue
											Date:</div>
										<!--end::Label-->

										<!--end::Col-->
										<div class="fw-bold fs-6 text-gray-800"
											th:text="${#temporals.format(loan.createdAt, 'yyyy-MM-dd HH:mm')}">
											12
											Apr 2021
										</div>
										<!--end::Col-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Update
											Date:</div>
										<!--end::Label-->

										<!--end::Info-->
										<div class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
											<span class="pe-2"
												th:text="${#temporals.format(loan.updatedAt, 'yyyy-MM-dd HH:mm')}">02
												May 2021</span>

											<span class="fs-7 text-info d-flex align-items-center">
												<span class="bullet bullet-dot bg-info me-2"></span>

												<span th:text="${loan.failureReason}">Rejected</span>
											</span>
										</div>
										<!--end::Info-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->

								<!--begin::Row-->
								<div class="row g-5 mb-11">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">
											Loan Type:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800" th:text="${loan.loanType}">Gold</div>
										<!--end::Text-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Duration:
										</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800" th:text="${loan.duration + ' Months'}">
											6 Months
										</div>
										<!--end::Text-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->

								<!--begin::Row-->
								<div class="row g-5 mb-11">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">
											Customer:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800"
											th:text="${loan.borrower.identityNumber}">NBE4576</div>
										<!--end::Text-->

										<!--end::Description-->
										<div class="fw-semibold fs-7 text-gray-600"
											th:text="${loan.borrower.firstName + ' ' + loan.borrower.lastName}">
											Sarah
											Hunt
										</div>
										<!--end::Description-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Issued
											Amount:
										</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800" th:text="${loan.issuedAmount + ' KMF'}">
											600 000 KMF
										</div>
										<!--end::Text-->

										<!--end::Description-->
										<div class="fw-bold fs-7 text-gray-600">
											Fees: <span th:text="${loan.applicationFees + ' KMF'}">500 0000
												KMF</span>
										</div>
										<!--end::Description-->
									</div>
								</div>
								<!--end::Row-->

								<!--begin::Row-->
								<div class="row g-5 mb-11">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">
											Interest Rate:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800" th:text="${loan.interestRate + '%'}">
											2.5%
										</div>
										<!--end::Text-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Due Amount:
										</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800"
											th:text="${loan.account.balance + ' KMF'}">
											500 0000 KMF
										</div>
										<!--end::Text-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->

								<!--begin::Row-->
								<div class="row g-5 mb-12">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Issue
											For:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div th:text="${loan.account.accountNumber}" class="fw-bold fs-6 text-gray-800">
											0071001997
										</div>
										<!--end::Text-->

										<!--end::Description-->
										<div class="fw-semibold fs-7 text-gray-600">
											LOAN Account <br />
											<span th:text="${loan.account.accountName}">John
												Doe</span>
										</div>
										<!--end::Description-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Issued
											At:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div th:text="${loan.branch.branchName}" class="fw-bold fs-6 text-gray-800">
											HQ</div>
										<!--end::Text-->

										<!--end::Description-->
										<div class="fw-semibold fs-7 text-gray-600">
											<span th:text="${loan.branch.branchAddress}">Moroni, Place de
												France</span>
										</div>
										<!--end::Description-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row g-5 mb-11">
									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">
											Description:</div>
										<!--end::Label-->

										<!--end::Text-->
										<div class="fw-bold fs-6 text-gray-800" th:text="${loan.reason}">Family
											assistance</div>
										<!--end::Text-->
									</div>
									<!--end::Col-->

									<!--end::Col-->
									<div class="col-sm-6">
										<!--end::Label-->
										<div class="fw-semibold fs-7 text-gray-600 mb-1">Status:
										</div>
										<!--end::Label-->

										<!--end::Text-->
										<span th:text="${loan.status}"
											th:class="${'badge badge-light-' + @appSpEL.statusColor(loan.status) + ' badge-sm px-4 py-3'}">APPROVED</span>
										<!--end::Text-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
							</div>
							<!--end::Wrapper-->
						</div>
						<!--end::Invoice 2 content-->
					</div>
					<!--end::Content-->

					<!--begin::Sidebar-->
					<div class="m-0">
						<!--begin::Invoice 2 sidebar-->
						<div
							class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">


							<!--begin::Title-->
							<h3 class="mb-2 fw-bolder">SUMMARY</h3>
							<p class="fw-semibold text-gray-600 mb-7">key details of the loan</p>
							<!--end::Title-->

							<div class="separator separator-dashed mb-7"></div>

							<!--begin::Item-->
							<div class="mb-6">
								<div class="fw-bold text-gray-800 fs-6 mb-1">Basic details:
								</div>

								<div class="fw-bold text-gray-600 fs-7">
									<p class="mb-1">Batch N° : #<span th:text="${loan.loanId}">34782</span></p>
									<p class="mb-1">Type : <span th:text="${loan.loanType}">DEPOSIT</span>
									</p>
									<p class="mb-0">Status : <span th:text="${loan.status}"
											th:class="${'text-' + @appSpEL.statusColor(loan.status)}">Approved</span>
									</p>
									<p class="mb-1">Expiration Date : <span
											th:text="${#temporals.format(loan.createdAt.plusMonths(loan.duration), 'yyyy-MM-dd')}">6
											Months</span>
								</div>
							</div>
							<!--end::Item-->

							<!--begin::Item-->
							<div class="mb-6">
								<div class="fw-bold text-gray-800 fs-6 mb-1">Account:</div>

								<div class="fw-bold text-gray-600 fs-7">
									<p class="mb-1">Number : <span
											th:text="${loan.account.accountNumber}">0071001997</span>
									</p>
									<p class="mb-0">Name : <span th:text="${loan.account.accountName}">John
											Doe</span></p>
								</div>
							</div>
							<!--end::Item-->

							<!--begin::Item-->
							<div class="mb-10">
								<div class="fw-bold text-gray-800 fs-6 mb-1">Amount:
								</div>

								<div class="fw-bold text-gray-600  fs-7">
									Total: <span th:text="${loan.totalAmount + ' KMF'}">600 000
										KMF</span>
								</div>
								<div class="fw-bold text-gray-600  fs-7">
									Remaining: <span th:text="${loan.account.balance + ' KMF'}">600
										000 KMF</span>
								</div>
							</div>
							<!--end::Item-->

							<div class="separator separator-dashed mb-7"></div>

							<!--begin::Item-->
							<div class="mb-10">
								<div class="fw-bold text-gray-800 fs-6 mb-1">Operators:</div>

								<div class="fw-bold text-gray-600 fs-7">
									<p class="mb-1">Initiated By : <span th:text="${loan.initiatedBy}">Sarah</span></p>
									<p class="mb-0">Updated By : <span th:text="${loan.updatedBy}">John</span></p>
								</div>
							</div>
							<!--end::Item-->

							<div th:unless="${loan.status} != 'PENDING'">
								<button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal"
									data-bs-target="#reject_operation">
									Reject
								</button>
								<button type="button" data-bs-toggle="modal" data-bs-target="#approve_operation"
									class="btn btn-sm btn-primary">
									Approve
								</button>
							</div>

						</div>
						<!--end::Invoice 2 sidebar-->
					</div>
					<!--end::Sidebar-->
				</div>
				<!--end::Layout-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Invoice 2 main-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<!--begin::Modals-->
<div
	th:replace="~{fragments/confirmDialog(modalId='reject_operation', modalTitle='Reject Loan', confirmReason=1, actionUrl=${'/loans/reject/' + loan.loanId})}">
	...</div>

<div
	th:replace="~{fragments/confirmDialog(modalId='approve_operation', modalTitle='Approve Loan', actionUrl=${'/loans/approve/' + loan.loanId})}">
	...</div>
<!--end::Modals-->

<div th:replace="~{fragments/footer}"></div>