<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Saul Bank</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

	<link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="d-flex flex-column flex-lg-row-fluid py-10">
        <div class="d-flex flex-center flex-column flex-column-fluid">
            <div class="w-75 w-md-50 w-lg-500px p-10 p-lg-15 mx-auto">
                <form class="form w-100" th:action="@{/login}" method="post">
                    <div class="text-center mb-10">
                        <img th:src="@{/assets/logos/default.png}" class="h-75px mb-5" alt="logo saul">
                        <h1 class="text-dark mb-3">Sign In to Saul</h1>
                    </div>

                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}">Message de succes</span>
                    </div>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}">Message d'erreur</span>. <br>
                        <span th:unless="${remainingAttempts == null}" th:text="${remainingAttempts + ' remaining attempts'}">3 tentatives restantes</span>
                    </div>

                    <div class="fv-row mb-10">
                        <label class="form-label fs-6 fw-bold text-dark">Username</label>
                        <input class="form-control form-control-lg" type="text" name="username" />
                    </div>

                    <div class="fv-row mb-10">
                        <label class="form-label fw-bold text-dark fs-6">Password</label>
                        <input class="form-control form-control-lg" type="password" name="password"
                            autocomplete="off" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/scripts.bundle.js}"></script>
</body>

</html>