<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title">
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1">
						<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
						<input type="text" data-kt-datatable-table-filter="search"
							class="form-control form-control-solid w-250px ps-12" placeholder="Search Transactions" />
					</div>
					<!--end::Search-->
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
						<!--begin::Add customer-->
						<a th:href="@{/transactions/init}" class="btn btn-primary">
							<i class="ki-duotone ki-wallet fs-1">
								<span class="path1"></span>
								<span class="path2"></span>
								<span class="path3"></span>
								<span class="path4"></span>
							</i>
							Init Transaction
						</a>
						<!--end::Add customer-->
					</div>
					<!--end::Toolbar-->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body pt-0">
				<!--begin::Table-->
				<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_datatable_table">
					<thead>
						<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
							<th class="min-w-70px">Batch ID</th>
							<th class="min-w-100px">Tran Type</th>
							<th class="min-w-100px">Account Number</th>
							<th class="min-w-70px">Currency</th>
							<th class="min-w-70px">Amount</th>
							<th class="min-w-100px">Source</th>
							<th class="min-w-70px">Status</th>
							<th class="min-w-100px">Date Effective</th>
						</tr>
					</thead>
					<tbody class="fw-semibold text-gray-600">
						<tr th:each="transaction: ${transactions}">
							<td>
								<a th:text="${transaction.transactionId}"
									th:href="@{/transactions/{id}(id=${transaction.transactionId})}"
									class="text-hover-primary text-gray-600 mb-1">25874</a>
							</td>
							<td>
								<a th:text="${transaction.transactionType}"
									th:href="@{/transactions/{id}(id=${transaction.transactionId})}"
									class="text-hover-primary text-gray-600 mb-1">Withdraw</a>
							</td>
							<td
								th:text="${transaction.transactionType == 'WITHDRAW' ? transaction.initiatorAccount.accountNumber : transaction.receiverAccount.accountNumber}">
								0071001997</td>
							<td th:text="${transaction.currency}">KMF</td>
							<td th:text="${transaction.amount}">65000</td>
							<td>
								<img th:unless="${transaction.sourceType} == 'ONLINE'"
									th:src="${transaction.sourceType == 'Visa'} ? '/img/svg/card-logos/visa.svg' : '/img/svg/card-logos/mastercard.svg'"
									class="w-35px me-3" alt="" />
								<span th:text="${transaction.sourceValue}">**** 3840</span>
							</td>
							<td><span th:text="${transaction.status}"
									th:class="${'badge badge-sm badge-light-' + @appSpEL.statusColor(transaction.status) + ' fw-bold px-4 py-3'}">ACTIVE</span>
							</td>
							<td th:text="${#temporals.format(transaction.createdAt, 'yyyy-MM-dd HH:mm')}">2024-12-25
								08:55
							</td>
						</tr>
					</tbody>
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->

<div th:replace="~{fragments/footer}"></div>